<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:160%;text-align:center">Семинар 6.1. Соединение таблиц с помощью оператора LEFT OUTER JOIN</p> 

<a id = Home></a>

**21 апреля 2022 года, чт**<br>
5-я пара, 15:40 - 17:10<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)<br>


**25 апреля 2022 года, пн**<br>
2-я пара, 10:10 - 11:40<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)<br>

3-я пара, 11:50 - 13:20<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
Поток:ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (3 подгруппа)


**28 апреля 2022 года, чт**<br>
6-я пара, 17:20 - 18:50<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)<br>


```
STUDENT
STUDENT_ID — числовой код, идентифицирующий студента (идентификатор студента),
SURNAME — фамилия студента,
NAME — имя студента,
STIPEND — стипендия, которую получает студент,
KURS — курс, на котором учится студент,
CITY — город, в котором живет студент,
BIRTHDAY — дата рождения студента,
UNIV_ID — идентификатор университета, в котором учится студент.


LECTURER
LECTURER_ID — идентификатор преподавателя,
SURNAME — фамилия преподавателя,
NAME — имя преподавателя,
CITY — город, в котором живет преподаватель,
UNIV_ID — идентификатор университета, в котором работает преподаватель


SUBJECT
SUBJ_ID — идентификатор предмета обучения,
SUBJ_NAME — наименование предмета обучения,
HOUR — количество часов, отводимых на изучение предмета,
SEMESTER — семестр, в котором изучается данный предмет.


UNIVERSITY
UNIV_ID — идентификатор университета,
UNIV_NAME — название университета,
RATING — рейтинг университета,
CITY — город, в котором расположен университет.


EXAM_MARKS
EXAM_ID — идентификатор экзамена,
STUDENT_ID — идентификатор студента,
SUBJ_ID — идентификатор предмета обучения,
MARK — экзаменационная оценка,
EXAM_DATE — дата экзамена.


SUBJ_LECT
LECTURER_ID — идентификатор преподавателя,
SUBJ_ID — идентификатор предмета обучения.
```

<img src="../Img/Students_Schema.png" style="width:60%">

In [2]:
#! pip install sqlalchemy

In [1]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_, text
from sqlalchemy.sql import func, distinct, exists
import pandas


# Сброс ограничений на количество выводимых рядов
pandas.set_option('display.max_rows', None)
 
# Сброс ограничений на число столбцов
pandas.set_option('display.max_columns', None)
 
# Сброс ограничений на количество символов в записи
pandas.set_option('display.max_colwidth', None)

In [2]:
engine = create_engine('sqlite:///../Data/Students.db')
metadata_obj = MetaData() # Объект-контейнер, содержит информацию о схеме данных
metadata_obj.reflect(bind=engine) # Отображение БД

Создание объектов таблиц

In [3]:
exam_marks=Table("exam_marks", metadata_obj, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata_obj, autoload=True, autoload_with="engine")
student=Table("student", metadata_obj, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata_obj, autoload=True, autoload_with="engine")
subject=Table("subject", metadata_obj, autoload=True, autoload_with="engine")
university=Table("university", metadata_obj, autolad=True, autolad_with="engine")

st = student.alias()
em = exam_marks.alias()
su = subject.alias()
un = university.alias()
le = lecturer.alias()
sl = subj_lect.alias()

In [4]:
conn=engine.connect() # Соединение

<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания с помощью соедиинения таблиц в Jupyter Notebook </p>

1. Напишите запрос, который выполняет вывод фамилий студентов, сдававших экзамены, вместе с идентификаторами каждого сданного ими предмета обучения.

2. Напишите запрос, который выполняет выборку фамилий всех студентов, с указанием для студентов, сдававших экзамены, идентификаторов сданных ими предметов обучения.

3. Напишите запрос, который выполняет вывод фамилий студентов, сдававших экзамены, вместе с наименованиями каждого сданного ими предмета обучения.

4. Напишите запрос на выдачу списка всех студентов. Для студентов, сдававших экзамены, укажите названия соответствующих предметов обучения.

5. Напишите запрос на выдачу названий всех предметов, по которым студенты получили только хорошие (4 и 5) оценки. В выходных данных должны быть приведены фамилии студентов, названия предметов и оценка.

6. Напишите запрос, который выполняет вывод списка университетов с рейтингом, превышающим 300, вместе со значением максимального размера стипендии, получаемой студентами в этих университетах.

7. Напишите запрос на выдачу списка студентов (в алфавитном порядке фамилий) вместе со значением рейтинга университета, где каждый из них учится, включив в список и тех студентов, место учебы которых в базе данных не указано.

8. Напишите запрос для получения списка всех студентов вместе с названиями университетов, в которых они учатся. Отдельным запросом получите записи, расширяющие данный список по сравнению с тем, который был бы получен внутренним соединением.

9. Напишите запрос для получения списка всех университетов вместе с фамилиями студентов, в них обучающихся. Отдельным запросом получите записи, расширяющие данный список по сравнению с тем, который был бы получен внутренним соединением.

10. Напишите запрос для получения списка всех университетов вместе с фамилиями преподавателей, в них работающих. Отдельным запросом получите записи, расширяющие данный список по сравнению с тем, который был бы получен внутренним соединением.

11. Напишите запрос для получения списка всех преподавателей вместе с университетами, в которых они работают. Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.

12. Напишите запрос для получения списка всех студентов и оценок, полученных ими на экзаменах. Отдельным запросом получите записи, расширяющие данный список по сравнению с тем, который был бы получен внутренним соединением.

13. Напишите запрос для получения списка всех экзаменационных оценок вместе с фамилиями получивших их студентов. Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.

14. Напишите запрос для получения полного списка предметов с соответствующими экзаменационными оценками. Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.

15. Напишите запрос для получения полного списка оценок вместе с названиями предметов, по которым они получены. Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.

# Решение

In [5]:
# 1. Напишите запрос, который выполняет вывод фамилий студентов,
# сдававших экзамены, вместе с идентификаторами каждого сданного ими предмета обучения.

In [6]:
# 2. Напишите запрос, который выполняет выборку фамилий всех студентов,
# с указанием для студентов, сдававших экзамены, идентификаторов сданных ими предметов обучения.
s = select(st.c.surname, em.c.subj_id)
s = s.join_from(st, em, isouter=True)
s = s.order_by(st.c.surname)

print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
pandas.read_sql(s, conn)

SELECT student_1.surname, exam_marks_1.subj_id
FROM student AS student_1 LEFT OUTER JOIN exam_marks AS exam_marks_1 ON student_1.student_id = exam_marks_1.student_id ORDER BY student_1.surname

Count answer: 100

       surname  subj_id
0     Агафонов      NaN
1      Аксенов      NaN
2      Антонов     10.0
3      Архипов      NaN
4   Афанасьева     12.0
5      Баранов      NaN
6       Белкин     10.0
7       Белкин     10.0
8      Бирюков      NaN
9      Бирюков      NaN
10     Блохина     22.0
11    Борисова     94.0
12     Валерия      NaN
13    Васильев     13.0
14    Васильев     73.0
15   Васильева      NaN
16     Веселов     56.0
17   Вишнякова     10.0
18  Владимиров      NaN
19    Воронова      NaN
20    Вячеслав     13.0
21      Гуляев      NaN
22     Гуляева      NaN
23         Дуб      NaN
24       Ершов      NaN
25      Ефимов      NaN
26     Жданова     56.0
27         Жук     73.0
28       Жуков     56.0
29      Жукова      NaN
30   Жуковский      NaN
31    Журавлев      NaN
32   Журавлева      NaN
33     Зайцева     10.0
34     Зайцева     10.0
35     Захаров      NaN
36      Иванов     43.0
37     Иванова      NaN
38    Игнатова      NaN
39    Казакова      NaN
40    Казакова     13.0
41    Казакова     73.0
42  Калашников     13.0
43  Калашников     94.0
44     Киселев      NaN
45     Ковалев      NaN
46     Комаров      NaN
47     Кондрат     10.0
48  Кондратьев      NaN
49     Костина     22.0
50       Котов     10.0
51    Кудряшов      NaN
52   Кудряшова      NaN
53    Кузнецов     12.0
54     Кулаков      NaN
55     Лазарев     56.0
56      Лапина     56.0
57       Лукин     11.0
58  Мельникова     12.0
59  Мельникова     56.0
60  Мельникова     10.0
61  Мельникова     14.0
62  Мельникова     56.0
63    Миронова      NaN
64    Миронова      NaN
65      Мишина     12.0
66     Морозов      NaN
67     Назаров      NaN
68   Некрасова      NaN
69    Одинцова     11.0
70   Ордуханян     10.0
71      Павлов      NaN
72         Пак     11.0
73         Пак     73.0
74         Пак     94.0
75       Панов      NaN
76      Петров      NaN
77      Петров      NaN
78      Петров      NaN
79     Петрова     43.0
80   Пономарев      NaN
81  Пономарева      NaN
82     Рожкова      NaN
83     Русаков      NaN
84    Семенова     94.0
85    Сергеева     73.0
86     Сидоров     22.0
87     Симонов      NaN
88    Ситников      NaN
89    Соколова      NaN
90    Сорокина     22.0
91    Сорокина      NaN
92     Суханов     22.0
93   Тимофеева      NaN
94    Трофимов     22.0
95     Федоров     12.0
96     Фролова      NaN
97      Ширяев      NaN
98      Шубина      NaN
99        Юдин      NaN

In [7]:
# 3. Напишите запрос, который выполняет вывод фамилий студентов,
# сдававших экзамены, вместе с наименованиями каждого сданного ими предмета обучения.
s = select(st.c.surname, su.c.subj_id)
s = s.join(em, em.c.student_id==st.c.student_id)
s = s.join(su)
s = s.where(em.c.mark>2)
s = s.order_by(st.c.surname)

print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
pandas.read_sql(s, conn)

SELECT student_1.surname, subject_1.subj_id
FROM student AS student_1 JOIN exam_marks AS exam_marks_1 ON exam_marks_1.student_id = student_1.student_id JOIN subject AS subject_1 ON subject_1.subj_id = exam_marks_1.subj_id
WHERE exam_marks_1.mark > :mark_1 ORDER BY student_1.surname

Count answer: 26

       surname  subj_id
0      Антонов       10
1       Белкин       10
2      Блохина       22
3     Борисова       94
4     Васильев       73
5     Васильев       13
6      Жданова       56
7          Жук       73
8      Зайцева       10
9     Казакова       73
10     Кондрат       10
11     Костина       22
12       Котов       10
13    Кузнецов       12
14     Лазарев       56
15      Лапина       56
16       Лукин       11
17  Мельникова       10
18  Мельникова       14
19  Мельникова       56
20         Пак       11
21         Пак       94
22         Пак       73
23     Петрова       43
24    Семенова       94
25     Сидоров       22

In [8]:
# 4. Напишите запрос на выдачу списка всех студентов. Для студентов,
# сдававших экзамены, укажите названия соответствующих предметов обучения.

s = select(st.c.surname, em.c.subj_id, su.c.subj_name)
s = s.outerjoin_from(em, st, em.c.student_id==st.c.student_id)
s = s.outerjoin(su)
s = s.order_by(st.c.surname)

print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
pandas.read_sql(s, conn)

SELECT student_1.surname, exam_marks_1.subj_id, subject_1.subj_name
FROM exam_marks AS exam_marks_1 LEFT OUTER JOIN student AS student_1 ON exam_marks_1.student_id = student_1.student_id LEFT OUTER JOIN subject AS subject_1 ON subject_1.subj_id = exam_marks_1.subj_id ORDER BY student_1.surname

Count answer: 47

       surname  subj_id                                 subj_name
0      Антонов       10                               Информатика
1   Афанасьева       12                             Анализ данных
2       Белкин       10                               Информатика
3       Белкин       10                               Информатика
4      Блохина       22                                    Физика
5     Борисова       94                           Английский язык
6     Васильев       73                               Физкультура
7     Васильев       13                                       ОБЖ
8      Веселов       56                                   История
9    Вишнякова       10                               Информатика
10    Вячеслав       13                                       ОБЖ
11     Жданова       56                                   История
12         Жук       73                               Физкультура
13       Жуков       56                                   История
14     Зайцева       10                               Информатика
15     Зайцева       10                               Информатика
16      Иванов       43                                Математика
17    Казакова       73                               Физкультура
18    Казакова       13                                       ОБЖ
19  Калашников       94                           Английский язык
20  Калашников       13                                       ОБЖ
21     Кондрат       10                               Информатика
22     Костина       22                                    Физика
23       Котов       10                               Информатика
24    Кузнецов       12                             Анализ данных
25     Лазарев       56                                   История
26      Лапина       56                                   История
27       Лукин       11   Программирование на языках Python и SQL
28  Мельникова       56                                   История
29  Мельникова       12                             Анализ данных
30  Мельникова       10                               Информатика
31  Мельникова       14  Обработка данных и моделирование в Excel
32  Мельникова       56                                   История
33      Мишина       12                             Анализ данных
34    Одинцова       11   Программирование на языках Python и SQL
35   Ордуханян       10                               Информатика
36         Пак       11   Программирование на языках Python и SQL
37         Пак       94                           Английский язык
38         Пак       73                               Физкультура
39     Петрова       43                                Математика
40    Семенова       94                           Английский язык
41    Сергеева       73                               Физкультура
42     Сидоров       22                                    Физика
43    Сорокина       22                                    Физика
44     Суханов       22                                    Физика
45    Трофимов       22                                    Физика
46     Федоров       12                             Анализ данных

In [9]:
# 5. Напишите запрос на выдачу названий всех предметов,
# по которым студенты получили только хорошие (4 и 5) оценки.
# В выходных данных должны быть приведены фамилии студентов, названия предметов и оценка.

sq = select(func.max(em.c.mark))
sq = sq.where(em.c.student_id==st.c.student_id)

s = select(st.c.surname, su.c.subj_name, em.c.mark)
s = s.where(em.c.mark>3)
s = s.join(su)
s = s.join(st)
s = s.order_by(st.c.surname)

print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
pandas.read_sql(s, conn)

SELECT student_1.surname, subject_1.subj_name, exam_marks_1.mark
FROM exam_marks AS exam_marks_1 JOIN subject AS subject_1 ON subject_1.subj_id = exam_marks_1.subj_id JOIN student AS student_1 ON student_1.student_id = exam_marks_1.student_id
WHERE exam_marks_1.mark > :mark_1 ORDER BY student_1.surname

Count answer: 20

       surname                                 subj_name  mark
0       Белкин                               Информатика     5
1      Блохина                                    Физика     5
2     Борисова                           Английский язык     5
3     Васильев                                       ОБЖ     5
4      Жданова                                   История     5
5          Жук                               Физкультура     4
6      Зайцева                               Информатика     5
7     Казакова                               Физкультура     4
8      Костина                                    Физика     4
9        Котов                               Информатика     4
10    Кузнецов                             Анализ данных     5
11     Лазарев                                   История     4
12      Лапина                                   История     5
13       Лукин   Программирование на языках Python и SQL     4
14  Мельникова                               Информатика     5
15  Мельникова  Обработка данных и моделирование в Excel     4
16         Пак   Программирование на языках Python и SQL     5
17         Пак                           Английский язык     4
18    Семенова                           Английский язык     4
19     Сидоров                                    Физика     4

In [10]:
# 6. Напишите запрос, который выполняет вывод списка университетов с рейтингом,
# превышающим 300, вместе со значением максимального размера стипендии, получаемой студентами в этих университетах.

In [11]:
# 7. Напишите запрос на выдачу списка студентов (в алфавитном порядке фамилий)
# вместе со значением рейтинга университета, где каждый из них учится,
# включив в список и тех студентов, место учебы которых в базе данных не указано.

s = select(st.c.surname, un.c.univ_name, un.c.rating)
s = s.outerjoin(un, st.c.univ_id==un.c.univ_id)
s = s.order_by(st.c.surname)

print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
pandas.read_sql(s, conn)

SELECT student_1.surname, university_1.univ_name, university_1.rating
FROM student AS student_1 LEFT OUTER JOIN university AS university_1 ON student_1.univ_id = university_1.univ_id ORDER BY student_1.surname

Count answer: 90

       surname         univ_name  rating
0     Агафонов               ВГУ   296.0
1      Аксенов               ВГУ   296.0
2      Антонов               МГУ   606.0
3      Архипов               МГУ   606.0
4   Афанасьева               РГУ   416.0
5      Баранов              ФинУ   330.0
6       Белкин               ВГУ   296.0
7      Бирюков              ФинУ   330.0
8      Бирюков               КФУ     NaN
9      Блохина               МГУ   606.0
10    Борисова               ВГУ   296.0
11     Валерия              ВГМА   327.0
12    Васильев   ФГБОУ "Политех"   304.0
13   Васильева               РГУ   416.0
14     Веселов               НГУ   345.0
15   Вишнякова   ФГБОУ "Политех"   304.0
16  Владимиров               БГУ   326.0
17    Воронова   ФГБОУ "Политех"   304.0
18    Вячеслав               БГУ   326.0
19      Гуляев              ФинУ   330.0
20     Гуляева               МГУ   606.0
21         Дуб              УЛГУ   231.0
22       Ершов               МГУ   606.0
23      Ефимов               РГУ   416.0
24     Жданова               ВГУ   296.0
25         Жук               КФУ     NaN
26       Жуков               НГУ   345.0
27      Жукова   ФГБОУ "Политех"   304.0
28   Жуковский               МГУ   606.0
29    Журавлев              ВГМА   327.0
30   Журавлева               НГУ   345.0
31     Зайцева               ВГУ   296.0
32     Захаров   ФГБОУ "Политех"   304.0
33      Иванов               ВГУ   296.0
34     Иванова               РГУ   416.0
35    Игнатова               МГУ   606.0
36    Казакова              ФинУ   330.0
37    Казакова               РГУ   416.0
38  Калашников              УЛГУ   231.0
39     Киселев              ФинУ   330.0
40     Ковалев               КФУ     NaN
41     Комаров               БГУ   326.0
42     Кондрат              ВГМА   327.0
43  Кондратьев               БГУ   326.0
44     Костина               БГУ   326.0
45       Котов               БГУ   326.0
46    Кудряшов               РГУ   416.0
47   Кудряшова               БГУ   326.0
48    Кузнецов               ВГУ   296.0
49     Кулаков   ФГБОУ "Политех"   304.0
50     Лазарев               КФУ     NaN
51      Лапина  МГТУ им. Баумана   372.0
52       Лукин               ВГУ   296.0
53  Мельникова               ВГУ   296.0
54  Мельникова               ТГУ   368.0
55    Миронова   ФГБОУ "Политех"   304.0
56    Миронова  МГТУ им. Баумана   372.0
57      Мишина              ВГМА   327.0
58     Морозов              ФинУ   330.0
59     Назаров               КФУ     NaN
60   Некрасова               ВГУ   296.0
61    Одинцова              ФинУ   330.0
62   Ордуханян              ВГМА   327.0
63      Павлов               ВГУ   296.0
64         Пак               ТГУ   368.0
65       Панов               РГУ   416.0
66      Петров               ВГУ   296.0
67      Петров              ФинУ   330.0
68      Петров               МГУ   606.0
69     Петрова               БГУ   326.0
70   Пономарев              ФинУ   330.0
71  Пономарева              УЛГУ   231.0
72     Рожкова              УЛГУ   231.0
73     Русаков               КФУ     NaN
74    Семенова               ВГУ   296.0
75    Сергеева               ВГУ   296.0
76     Сидоров               МГУ   606.0
77     Симонов               МГУ   606.0
78    Ситников   ФГБОУ "Политех"   304.0
79    Соколова              ВГМА   327.0
80    Сорокина              УЛГУ   231.0
81    Сорокина  МГТУ им. Баумана   372.0
82     Суханов               БГУ   326.0
83   Тимофеева  МГТУ им. Баумана   372.0
84    Трофимов               НГУ   345.0
85     Федоров               ВГУ   296.0
86     Фролова              ФинУ   330.0
87      Ширяев   ФГБОУ "Политех"   304.0
88      Шубина  МГТУ им. Баумана   372.0
89        Юдин              ВГМА   327.0

In [12]:
# 8. Напишите запрос для получения списка всех студентов вместе с названиями университетов,
# в которых они учатся. Отдельным запросом получите записи,
# расширяющие данный список по сравнению с тем, который был бы получен внутренним соединением.

s = select(st.c.surname, un.c.univ_name)
s = s.join(un, st.c.univ_id==un.c.univ_id)
s = s.order_by(st.c.surname)

print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
display(pandas.read_sql(s, conn))

st2 = student.alias()
un2 = university.alias()

sq = select(st2.c.student_id)
sq = sq.join(un2, st.c.univ_id==un2.c.univ_id)
sq = sq.where(st2.c.student_id==st.c.student_id).exists()

s = select(st.c.surname, un.c.univ_name)
s = s.outerjoin(un, st.c.univ_id==un.c.univ_id)
s = s.where(~sq)
s = s.order_by(st.c.surname)

print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
pandas.read_sql(s, conn)

SELECT student_1.surname, university_1.univ_name
FROM student AS student_1 JOIN university AS university_1 ON student_1.univ_id = university_1.univ_id ORDER BY student_1.surname

Count answer: 90

       surname         univ_name
0     Агафонов               ВГУ
1      Аксенов               ВГУ
2      Антонов               МГУ
3      Архипов               МГУ
4   Афанасьева               РГУ
5      Баранов              ФинУ
6       Белкин               ВГУ
7      Бирюков              ФинУ
8      Бирюков               КФУ
9      Блохина               МГУ
10    Борисова               ВГУ
11     Валерия              ВГМА
12    Васильев   ФГБОУ "Политех"
13   Васильева               РГУ
14     Веселов               НГУ
15   Вишнякова   ФГБОУ "Политех"
16  Владимиров               БГУ
17    Воронова   ФГБОУ "Политех"
18    Вячеслав               БГУ
19      Гуляев              ФинУ
20     Гуляева               МГУ
21         Дуб              УЛГУ
22       Ершов               МГУ
23      Ефимов               РГУ
24     Жданова               ВГУ
25         Жук               КФУ
26       Жуков               НГУ
27      Жукова   ФГБОУ "Политех"
28   Жуковский               МГУ
29    Журавлев              ВГМА
30   Журавлева               НГУ
31     Зайцева               ВГУ
32     Захаров   ФГБОУ "Политех"
33      Иванов               ВГУ
34     Иванова               РГУ
35    Игнатова               МГУ
36    Казакова              ФинУ
37    Казакова               РГУ
38  Калашников              УЛГУ
39     Киселев              ФинУ
40     Ковалев               КФУ
41     Комаров               БГУ
42     Кондрат              ВГМА
43  Кондратьев               БГУ
44     Костина               БГУ
45       Котов               БГУ
46    Кудряшов               РГУ
47   Кудряшова               БГУ
48    Кузнецов               ВГУ
49     Кулаков   ФГБОУ "Политех"
50     Лазарев               КФУ
51      Лапина  МГТУ им. Баумана
52       Лукин               ВГУ
53  Мельникова               ВГУ
54  Мельникова               ТГУ
55    Миронова   ФГБОУ "Политех"
56    Миронова  МГТУ им. Баумана
57      Мишина              ВГМА
58     Морозов              ФинУ
59     Назаров               КФУ
60   Некрасова               ВГУ
61    Одинцова              ФинУ
62   Ордуханян              ВГМА
63      Павлов               ВГУ
64         Пак               ТГУ
65       Панов               РГУ
66      Петров               ВГУ
67      Петров              ФинУ
68      Петров               МГУ
69     Петрова               БГУ
70   Пономарев              ФинУ
71  Пономарева              УЛГУ
72     Рожкова              УЛГУ
73     Русаков               КФУ
74    Семенова               ВГУ
75    Сергеева               ВГУ
76     Сидоров               МГУ
77     Симонов               МГУ
78    Ситников   ФГБОУ "Политех"
79    Соколова              ВГМА
80    Сорокина              УЛГУ
81    Сорокина  МГТУ им. Баумана
82     Суханов               БГУ
83   Тимофеева  МГТУ им. Баумана
84    Трофимов               НГУ
85     Федоров               ВГУ
86     Фролова              ФинУ
87      Ширяев   ФГБОУ "Политех"
88      Шубина  МГТУ им. Баумана
89        Юдин              ВГМА

SELECT student_1.surname, university_1.univ_name
FROM student AS student_1 LEFT OUTER JOIN university AS university_1 ON student_1.univ_id = university_1.univ_id
WHERE NOT (EXISTS (SELECT student_2.student_id
FROM student AS student_2, student AS student_1 JOIN university AS university_2 ON student_1.univ_id = university_2.univ_id
WHERE student_2.student_id = student_1.student_id)) ORDER BY student_1.surname

Count answer: 0

Empty DataFrame
Columns: [surname, univ_name]
Index: []

In [13]:
# 9. Напишите запрос для получения списка всех университетов вместе с фамилиями студентов, в них обучающихся.
# Отдельным запросом получите записи, расширяющие данный список по сравнению с тем,
# который был бы получен внутренним соединением.

s = select(st.c.surname, un.c.univ_name)
s = s.join_from(un, st, st.c.univ_id==un.c.univ_id)
s = s.order_by(st.c.surname)

print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
display(pandas.read_sql(s, conn))


st2 = student.alias()
un2 = university.alias()

sq = select(un2.c.univ_id)
sq = sq.join_from(un2, st2)
sq = sq.where(un2.c.univ_id==un.c.univ_id).exists()

s = select(st.c.surname, un.c.univ_name)
s = s.outerjoin_from(un, st, st.c.univ_id==un.c.univ_id)
s = s.where(~sq)
s = s.order_by(st.c.surname)

print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
pandas.read_sql(s, conn)

SELECT student_1.surname, university_1.univ_name
FROM university AS university_1 JOIN student AS student_1 ON student_1.univ_id = university_1.univ_id ORDER BY student_1.surname

Count answer: 90

       surname         univ_name
0     Агафонов               ВГУ
1      Аксенов               ВГУ
2      Антонов               МГУ
3      Архипов               МГУ
4   Афанасьева               РГУ
5      Баранов              ФинУ
6       Белкин               ВГУ
7      Бирюков              ФинУ
8      Бирюков               КФУ
9      Блохина               МГУ
10    Борисова               ВГУ
11     Валерия              ВГМА
12    Васильев   ФГБОУ "Политех"
13   Васильева               РГУ
14     Веселов               НГУ
15   Вишнякова   ФГБОУ "Политех"
16  Владимиров               БГУ
17    Воронова   ФГБОУ "Политех"
18    Вячеслав               БГУ
19      Гуляев              ФинУ
20     Гуляева               МГУ
21         Дуб              УЛГУ
22       Ершов               МГУ
23      Ефимов               РГУ
24     Жданова               ВГУ
25         Жук               КФУ
26       Жуков               НГУ
27      Жукова   ФГБОУ "Политех"
28   Жуковский               МГУ
29    Журавлев              ВГМА
30   Журавлева               НГУ
31     Зайцева               ВГУ
32     Захаров   ФГБОУ "Политех"
33      Иванов               ВГУ
34     Иванова               РГУ
35    Игнатова               МГУ
36    Казакова              ФинУ
37    Казакова               РГУ
38  Калашников              УЛГУ
39     Киселев              ФинУ
40     Ковалев               КФУ
41     Комаров               БГУ
42     Кондрат              ВГМА
43  Кондратьев               БГУ
44     Костина               БГУ
45       Котов               БГУ
46    Кудряшов               РГУ
47   Кудряшова               БГУ
48    Кузнецов               ВГУ
49     Кулаков   ФГБОУ "Политех"
50     Лазарев               КФУ
51      Лапина  МГТУ им. Баумана
52       Лукин               ВГУ
53  Мельникова               ВГУ
54  Мельникова               ТГУ
55    Миронова   ФГБОУ "Политех"
56    Миронова  МГТУ им. Баумана
57      Мишина              ВГМА
58     Морозов              ФинУ
59     Назаров               КФУ
60   Некрасова               ВГУ
61    Одинцова              ФинУ
62   Ордуханян              ВГМА
63      Павлов               ВГУ
64         Пак               ТГУ
65       Панов               РГУ
66      Петров               ВГУ
67      Петров              ФинУ
68      Петров               МГУ
69     Петрова               БГУ
70   Пономарев              ФинУ
71  Пономарева              УЛГУ
72     Рожкова              УЛГУ
73     Русаков               КФУ
74    Семенова               ВГУ
75    Сергеева               ВГУ
76     Сидоров               МГУ
77     Симонов               МГУ
78    Ситников   ФГБОУ "Политех"
79    Соколова              ВГМА
80    Сорокина              УЛГУ
81    Сорокина  МГТУ им. Баумана
82     Суханов               БГУ
83   Тимофеева  МГТУ им. Баумана
84    Трофимов               НГУ
85     Федоров               ВГУ
86     Фролова              ФинУ
87      Ширяев   ФГБОУ "Политех"
88      Шубина  МГТУ им. Баумана
89        Юдин              ВГМА

SELECT student_1.surname, university_1.univ_name
FROM university AS university_1 LEFT OUTER JOIN student AS student_1 ON student_1.univ_id = university_1.univ_id
WHERE NOT (EXISTS (SELECT university_2.univ_id
FROM university AS university_2 JOIN student AS student_2 ON university_2.univ_id = student_2.univ_id
WHERE university_2.univ_id = university_1.univ_id)) ORDER BY student_1.surname

Count answer: 1

  surname univ_name
0    None      МФТИ

In [14]:
# 10. Напишите запрос для получения списка всех университетов вместе с фамилиями преподавателей,
# в них работающих. Отдельным запросом получите записи, расширяющие данный список по сравнению с тем,
# который был бы получен внутренним соединением.

s = select(un.c.univ_name, le.c.surname + " " + le.c.name)
s = s.join_from(un, le, le.c.univ_id==un.c.univ_id)
s = s.order_by(un.c.univ_name)

print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
display(pandas.read_sql(s, conn))


st2 = student.alias()
un2 = university.alias()

sq = select(un2.c.univ_id)
sq = sq.join_from(un2, st2)
sq = sq.where(un2.c.univ_id==un.c.univ_id).exists()

s = select(st.c.surname, un.c.univ_name)
s = s.outerjoin_from(un, st, st.c.univ_id==un.c.univ_id)
s = s.where(~sq)
s = s.order_by(st.c.surname)

print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
pandas.read_sql(s, conn)

SELECT university_1.univ_name, lecturer_1.surname || :surname_1 || lecturer_1.name AS anon_1
FROM university AS university_1 JOIN lecturer AS lecturer_1 ON lecturer_1.univ_id = university_1.univ_id ORDER BY university_1.univ_name

Count answer: 29

           univ_name              anon_1
0               ВГМА    Богданова Оксана
1               ВГМА  Ситникова Светлана
2               ВГМА     Крюкова Людмила
3               ВГМА      Артемьева Майя
4               ВГМА     Сафонов Будимир
5                ВГУ        Зайцева Юлия
6                ВГУ    Максимова Иванна
7                ВГУ       Зыкова Оксана
8                ВГУ     Алексеев Елисей
9                ВГУ    Колесников Борис
10               ВГУ        Никонов Иван
11               ВГУ     Николаев Виктор
12               ВГУ      Сорокин Андрей
13               КФУ     Куликова Ираида
14               КФУ     Кудрявцева Анна
15  МГТУ им. Баумана       Волков Михаил
16               МГУ       Лагутин Павел
17               МГУ     Струков Николай
18               НГУ   Мамонтова Акулина
19               РГУ   Дорофеев Прокофий
20               РГУ     Беляков Мефодий
21               ТГУ     Тихонов Ладомир
22               ТГУ      Беспалов Юлиан
23              УЛГУ      Брагина Нинель
24              УЛГУ    Дмитриева Оксана
25              УЛГУ   Елисеев Виссарион
26   ФГБОУ "Политех"      Сафонова Лукия
27   ФГБОУ "Политех"     Стрелков Руслан
28   ФГБОУ "Политех"         Зимин Юлиан

SELECT student_1.surname, university_1.univ_name
FROM university AS university_1 LEFT OUTER JOIN student AS student_1 ON student_1.univ_id = university_1.univ_id
WHERE NOT (EXISTS (SELECT university_2.univ_id
FROM university AS university_2 JOIN student AS student_2 ON university_2.univ_id = student_2.univ_id
WHERE university_2.univ_id = university_1.univ_id)) ORDER BY student_1.surname

Count answer: 1

  surname univ_name
0    None      МФТИ

In [40]:
# 11. Напишите запрос для получения списка всех преподавателей вместе с университетами, в которых они работают.
# Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.


s = select((le.c.surname + " " + le.c.name).label('lecture name'), un.c.univ_name)
s = s.join_from(un, le, le.c.univ_id==un.c.univ_id)
s = s.order_by(un.c.univ_name)

print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
display(pandas.read_sql(s, conn))



un2 = university.alias()
le2 = lecturer.alias()

sq = select(un2.c.univ_id)
sq = sq.join_from(un2, le2, le2.c.univ_id==un2.c.univ_id)
sq = sq.where(un2.c.univ_id==un.c.univ_id).exists()

s = select((le.c.surname+ " " + le.c.name).label('lecture name'), un.c.univ_name )
s = s.outerjoin_from(le, un, le.c.univ_id==un.c.univ_id)
s = s.where(~sq)
# s = s.order_by(le.c.surname)

print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
pandas.read_sql(s, conn)

SELECT lecturer_1.surname || :surname_1 || lecturer_1.name AS "lecture name", university_1.univ_name
FROM university AS university_1 JOIN lecturer AS lecturer_1 ON lecturer_1.univ_id = university_1.univ_id ORDER BY university_1.univ_name

Count answer: 29

          lecture name         univ_name
0     Богданова Оксана              ВГМА
1   Ситникова Светлана              ВГМА
2      Крюкова Людмила              ВГМА
3       Артемьева Майя              ВГМА
4      Сафонов Будимир              ВГМА
5         Зайцева Юлия               ВГУ
6     Максимова Иванна               ВГУ
7        Зыкова Оксана               ВГУ
8      Алексеев Елисей               ВГУ
9     Колесников Борис               ВГУ
10        Никонов Иван               ВГУ
11     Николаев Виктор               ВГУ
12      Сорокин Андрей               ВГУ
13     Куликова Ираида               КФУ
14     Кудрявцева Анна               КФУ
15       Волков Михаил  МГТУ им. Баумана
16       Лагутин Павел               МГУ
17     Струков Николай               МГУ
18   Мамонтова Акулина               НГУ
19   Дорофеев Прокофий               РГУ
20     Беляков Мефодий               РГУ
21     Тихонов Ладомир               ТГУ
22      Беспалов Юлиан               ТГУ
23      Брагина Нинель              УЛГУ
24    Дмитриева Оксана              УЛГУ
25   Елисеев Виссарион              УЛГУ
26      Сафонова Лукия   ФГБОУ "Политех"
27     Стрелков Руслан   ФГБОУ "Политех"
28         Зимин Юлиан   ФГБОУ "Политех"

SELECT lecturer_1.surname || :surname_1 || lecturer_1.name AS "lecture name", university_1.univ_name
FROM lecturer AS lecturer_1 LEFT OUTER JOIN university AS university_1 ON lecturer_1.univ_id = university_1.univ_id
WHERE NOT (EXISTS (SELECT university_2.univ_id
FROM university AS university_2 JOIN lecturer AS lecturer_2 ON lecturer_2.univ_id = university_2.univ_id
WHERE university_2.univ_id = university_1.univ_id))

Count answer: 1

    lecture name univ_name
0  Чей-то Кто-то      None

In [73]:
# 12. Напишите запрос для получения списка всех студентов и оценок, полученных ими на экзаменах.
# Отдельным запросом получите записи, расширяющие данный список по сравнению с тем, который был бы получен внутренним соединением.


s = select((st.c.surname + " " + st.c.name).label('student name'), em.c.mark)
s = s.join_from(st, em, st.c.student_id==em.c.student_id)
# s = s.join_from(em, su, em.c.subj_id==su.c.subj_id), su.c.subj_name
# s = s.where(em.c.mark.is_not(None))
s = s.order_by(st.c.student_id)
# s = s.group_by(su.c.subj_name)


print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
display(pandas.read_sql(s, conn))



st2 = student.alias()
em2 = exam_marks.alias()
# su2 = subject.alias()


sq = select(st2.c.student_id)
sq = sq.join_from(st2, em2, st2.c.student_id==em2.c.student_id)
# sq = sq.join_from(em2, su2, em2.c.subj_id==su2.c.subj_id)
sq = sq.where(st2.c.student_id==st.c.student_id).exists()

s = select(st.c.student_id, (st.c.surname + " " + st.c.name).label('student name'), em.c.exam_id)
s = s.outerjoin_from(st, em, st.c.student_id==em.c.student_id)
# s = s.join_from(em, su, em.c.subj_id==su.c.subj_id), su.c.subj_name
s = s.where(~sq)
s = s.order_by(st.c.student_id)


print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
pandas.read_sql(s, conn)

SELECT student_1.surname || :surname_1 || student_1.name AS "student name", exam_marks_1.mark
FROM student AS student_1 JOIN exam_marks AS exam_marks_1 ON student_1.student_id = exam_marks_1.student_id ORDER BY student_1.student_id

Count answer: 47

           student name  mark
0           Иванов Иван   1.0
1         Сидоров Вадим   4.0
2        Кузнецов Борис   5.0
3         Зайцева Ольга   2.0
4         Зайцева Ольга   5.0
5     Ордуханян Рафаэль   2.0
6           Котов Павел   4.0
7          Белкин Вадим   5.0
8          Белкин Вадим   NaN
9     Семенова Вероника   4.0
10            Пак Ирина   5.0
11            Пак Ирина   4.0
12            Пак Ирина   3.0
13           Жук Оксана   4.0
14       Сергеева Фёкла   1.0
15      Кондрат Синицин   3.0
16       Одинцова Лидия   1.0
17     Мельникова Дарья   2.0
18     Мельникова Дарья   2.0
19      Мишина Светлана   1.0
20  Афанасьева Анжелика   1.0
21      Лапина Элеонора   5.0
22       Сорокина Ирина   1.0
23       Казакова Мария   4.0
24       Казакова Мария   1.0
25        Жданова Ирина   5.0
26         Костина Кира   4.0
27       Блохина Ираида   5.0
28  Мельникова Светлана   5.0
29  Мельникова Светлана   4.0
30  Мельникова Светлана   3.0
31     Вишнякова Анжела   1.0
32      Борисова Марина   5.0
33   Калашников Евгений   2.0
34   Калашников Евгений   2.0
35   Трофимов Владислав   2.0
36     Антонов Анатолий   3.0
37   Суханов Константин   1.0
38    Федоров Гостомысл   1.0
39   Лазарев Константин   4.0
40        Веселов Тимур   2.0
41           Жуков Пров   1.0
42      Васильев Матвей   3.0
43      Васильев Матвей   5.0
44     Вячеслав Пахомов   2.0
45    Петрова Екатерина   3.0
46          Лукин Артем   4.0

SELECT student_1.student_id, student_1.surname || :surname_1 || student_1.name AS "student name", exam_marks_1.exam_id
FROM student AS student_1 LEFT OUTER JOIN exam_marks AS exam_marks_1 ON student_1.student_id = exam_marks_1.student_id
WHERE NOT (EXISTS (SELECT student_2.student_id
FROM student AS student_2 JOIN exam_marks AS exam_marks_2 ON student_2.student_id = exam_marks_2.student_id
WHERE student_2.student_id = student_1.student_id)) ORDER BY student_1.student_id

Count answer: 54

    student_id          student name exam_id
0            3           Петров Петр    None
1           56         Дуб Елизавета    None
2           57        Кудряшова Вера    None
3           58        Журавлева Вера    None
4           60       Рожкова Пелагея    None
5           61           Соколова Ия    None
6           66    Некрасова Вероника    None
7           68        Казакова Ольга    None
8           69          Шубина Елена    None
9           70         Миронова Анна    None
10          72      Пономарева Алина    None
11          74       Гуляева Рукижат    None
12          75      Игнатова Зинаида    None
13          78      Агафонов Василий    None
14          80      Фролова Василиса    None
15          86          Жукова Фекла    None
16          89   Валерия Овчинникова    None
17          94      Васильева Оксана    None
18          95      Сорокина Валерия    None
19          96       Тимофеева Фаина    None
20         104       Бирюков Герасим    None
21         107        Морозов Кирилл    None
22         108         Назаров Икром    None
23         112         Захаров Софон    None
24         113       Аксенов Валерий    None
25         114         Панов Арсений    None
26         118    Кондратьев Николай    None
27         121     Воронова Антонина    None
28         124            Юдин Савва    None
29         125  Пономарев Варфоромей    None
30         130        Кудряшов Роман    None
31         131          Ковалев Ефим    None
32         133        Жуковский Юрий    None
33         135          Комаров Ипат    None
34         136           Ефимов Яков    None
35         137        Кулаков Феофан    None
36         139         Журавлев Фома    None
37         140         Ширяев Андрей    None
38         141        Ершов Митрофан    None
39         143        Бирюков Мартин    None
40         144     Ситников Викентий    None
41         146         Русаков Давид    None
42         147         Симонов Семен    None
43         148         Гуляев Кузьма    None
44         200     Баранов Александр    None
45         201        Архипов Андрей    None
46         202   Владимиров Анатолий    None
47         204          Петров Вадим    None
48         205         Иванова Мария    None
49         206      Киселев Владимир    None
50         207        Миронова Федор    None
51         265         Павлов Андрей    None
52         276          Петров Антон    None
53         700               123 312    None

In [93]:
# 13. Напишите запрос для получения списка всех экзаменационных оценок вместе с фамилиями получивших их студентов.
# Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.

s = select(em.c.exam_id, (st.c.surname + " " + st.c.name).label('student name'), em.c.mark, su.c.subj_name)
s = s.join_from(em, st, st.c.student_id==em.c.student_id)
s = s.join_from(em, su, em.c.subj_id==su.c.subj_id)
s = s.where(em.c.mark.is_not(None))

print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
display(pandas.read_sql(s, conn))



st2 = student.alias()
em2 = exam_marks.alias()

sq = select(em2.c.exam_id)
sq = sq.join_from(em2, st2, st2.c.student_id==em2.c.student_id)
sq = sq.where(em2.c.exam_id==em.c.exam_id).exists()

s = select(em.c.exam_id, (st.c.surname + " " + st.c.name).label('student name'), em.c.mark, su.c.subj_name)
s = s.outerjoin_from(em, st, st.c.student_id==em.c.student_id)
s = s.join_from(em, su, em.c.subj_id==su.c.subj_id)
s = s.where(em.c.mark.is_not(None))
s = s.where(~sq)

print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
pandas.read_sql(s, conn)

SELECT exam_marks_1.exam_id, student_1.surname || :surname_1 || student_1.name AS "student name", exam_marks_1.mark, subject_1.subj_name
FROM exam_marks AS exam_marks_1 JOIN student AS student_1 ON student_1.student_id = exam_marks_1.student_id JOIN subject AS subject_1 ON exam_marks_1.subj_id = subject_1.subj_id

Count answer: 47

,exam_id,student name,mark,subj_name
0,1,Вишнякова Анжела,1.0,Информатика
1,2,Казакова Мария,4.0,Физкультура
2,3,Жук Оксана,4.0,Физкультура
3,4,Жуков Пров,1.0,История
4,5,Кондрат Синицин,3.0,Информатика
5,6,Лазарев Константин,4.0,История
6,7,Афанасьева Анжелика,1.0,Анализ данных
7,8,Федоров Гостомысл,1.0,Анализ данных
8,9,Блохина Ираида,5.0,Физика
9,10,Суханов Константин,1.0,Физика
10,11,Мельникова Дарья,2.0,История
11,12,Жданова Ирина,5.0,История
12,13,Мельникова Дарья,2.0,Анализ данных
13,14,Казакова Мария,1.0,ОБЖ
14,15,Семенова Вероника,4.0,Английский язык
15,16,Мельникова Светлана,5.0,Информатика
16,17,Борисова Марина,5.0,Английский язык
17,18,Калашников Евгений,2.0,Английский язык
18,19,Васильев Матвей,3.0,Физкультура
19,20,Петрова Екатерина,3.0,Математика
20,21,Веселов Тимур,2.0,История
21,22,Антонов Анатолий,3.0,Информатика
22,23,Костина Кира,4.0,Физика
23,24,Калашников Евгений,2.0,ОБЖ
24,25,Мишина Светлана,1.0,Анализ данных
25,26,Сорокина Ирина,1.0,Физика
26,27,Васильев Матвей,5.0,ОБЖ
27,28,Кузнецов Борис,5.0,Анализ данных
28,29,Иванов Иван,1.0,Математика
29,30,Лапина Элеонора,5.0,История
30,31,Одинцова Лидия,1.0,Программирование на языках Python и SQL
31,32,Сергеева Фёкла,1.0,Физкультура
32,33,Трофимов Владислав,2.0,Физика
33,34,Котов Павел,4.0,Информатика
34,43,Сидоров Вадим,4.0,Физика
35,75,Белкин Вадим,5.0,Информатика
36,95,Вячеслав Пахомов,2.0,ОБЖ
37,100,Ордуханян Рафаэль,2.0,Информатика
38,101,Лукин Артем,4.0,Программирование на языках Python и SQL
39,102,Пак Ирина,5.0,Программирование на языках Python и SQL
40,103,Пак Ирина,4.0,Английский язык
41,104,Пак Ирина,3.0,Физкультура
42,105,Мельникова Светлана,4.0,Обработка данных и моделирование в Excel
43,106,Мельникова Светлана,3.0,История
44,145,Зайцева Ольга,2.0,Информатика
45,238,Зайцева Ольга,5.0,Информатика
46,639,Белкин Вадим,NaN,Информатика

SELECT exam_marks_1.exam_id, student_1.surname || :surname_1 || student_1.name AS "student name", exam_marks_1.mark, subject_1.subj_name
FROM exam_marks AS exam_marks_1 LEFT OUTER JOIN student AS student_1 ON student_1.student_id = exam_marks_1.student_id JOIN subject AS subject_1 ON exam_marks_1.subj_id = subject_1.subj_id
WHERE NOT (EXISTS (SELECT exam_marks_2.exam_id
FROM exam_marks AS exam_marks_2 JOIN student AS student_2 ON student_2.student_id = exam_marks_2.student_id
WHERE exam_marks_2.exam_id = exam_marks_1.exam_id))

Count answer: 0

Empty DataFrame
Columns: [exam_id, student name, mark, subj_name]
Index: []

In [87]:
# 14. Напишите запрос для получения полного списка предметов с соответствующими экзаменационными оценками.
# Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.

s = select(su.c.subj_id, su.c.subj_name, em.c.exam_id, em.c.mark)
s = s.join_from(su, em, su.c.subj_id==em.c.subj_id)

print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
display(pandas.read_sql(s, conn))



su2 = subject.alias()
em2 = exam_marks.alias()

sq = select(su2.c.subj_id)
sq = sq.join_from(su2, em2, su2.c.subj_id==em2.c.subj_id)
sq = sq.where(su2.c.subj_id==su.c.subj_id).exists()

s = select(su.c.subj_id, su.c.subj_name, em.c.exam_id, em.c.mark)
s = s.outerjoin_from(su, em, su.c.subj_id==em.c.subj_id)
s = s.where(~sq)

print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
pandas.read_sql(s, conn)

SELECT subject_1.subj_id, subject_1.subj_name, exam_marks_1.exam_id, exam_marks_1.mark
FROM subject AS subject_1 JOIN exam_marks AS exam_marks_1 ON subject_1.subj_id = exam_marks_1.subj_id

Count answer: 47

    subj_id                                 subj_name  exam_id  mark
0        10                               Информатика        1   1.0
1        73                               Физкультура        2   4.0
2        73                               Физкультура        3   4.0
3        56                                   История        4   1.0
4        10                               Информатика        5   3.0
5        56                                   История        6   4.0
6        12                             Анализ данных        7   1.0
7        12                             Анализ данных        8   1.0
8        22                                    Физика        9   5.0
9        22                                    Физика       10   1.0
10       56                                   История       11   2.0
11       56                                   История       12   5.0
12       12                             Анализ данных       13   2.0
13       13                                       ОБЖ       14   1.0
14       94                           Английский язык       15   4.0
15       10                               Информатика       16   5.0
16       94                           Английский язык       17   5.0
17       94                           Английский язык       18   2.0
18       73                               Физкультура       19   3.0
19       43                                Математика       20   3.0
20       56                                   История       21   2.0
21       10                               Информатика       22   3.0
22       22                                    Физика       23   4.0
23       13                                       ОБЖ       24   2.0
24       12                             Анализ данных       25   1.0
25       22                                    Физика       26   1.0
26       13                                       ОБЖ       27   5.0
27       12                             Анализ данных       28   5.0
28       43                                Математика       29   1.0
29       56                                   История       30   5.0
30       11   Программирование на языках Python и SQL       31   1.0
31       73                               Физкультура       32   1.0
32       22                                    Физика       33   2.0
33       10                               Информатика       34   4.0
34       22                                    Физика       43   4.0
35       10                               Информатика       75   5.0
36       13                                       ОБЖ       95   2.0
37       10                               Информатика      100   2.0
38       11   Программирование на языках Python и SQL      101   4.0
39       11   Программирование на языках Python и SQL      102   5.0
40       94                           Английский язык      103   4.0
41       73                               Физкультура      104   3.0
42       14  Обработка данных и моделирование в Excel      105   4.0
43       56                                   История      106   3.0
44       10                               Информатика      145   2.0
45       10                               Информатика      238   5.0
46       10                               Информатика      639   NaN

SELECT subject_1.subj_id, subject_1.subj_name, exam_marks_1.exam_id, exam_marks_1.mark
FROM subject AS subject_1 LEFT OUTER JOIN exam_marks AS exam_marks_1 ON subject_1.subj_id = exam_marks_1.subj_id
WHERE NOT (EXISTS (SELECT subject_2.subj_id
FROM subject AS subject_2 JOIN exam_marks AS exam_marks_2 ON subject_2.subj_id = exam_marks_2.subj_id
WHERE subject_2.subj_id = subject_1.subj_id))

Count answer: 2

   subj_id                                        subj_name exam_id  mark
0       23  Теория вероятностей и математическая статистика    None  None
1       72                                      Физкультура    None  None

In [91]:
# 15. Напишите запрос для получения полного списка оценок вместе с названиями предметов, по которым они получены.
# Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.

s = select(em.c.exam_id, em.c.mark, su.c.subj_id, su.c.subj_name)
s = s.join_from(em, su, em.c.subj_id==su.c.subj_id)
s = s.where(em.c.mark.is_not(None))

print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
display(pandas.read_sql(s, conn))



su2 = subject.alias()
em2 = exam_marks.alias()

sq = select(em2.c.exam_id)
sq = sq.join_from(em2, su2, em2.c.subj_id==su2.c.subj_id)
sq = sq.where(em2.c.exam_id==em.c.exam_id).exists()

s = select(em.c.exam_id, em.c.mark, su.c.subj_id, su.c.subj_name)
s = s.outerjoin_from(em, su, em.c.subj_id==su.c.subj_id)
s = s.where(em.c.mark.is_not(None))
s = s.where(~sq)

print(s)
resoult = conn.execute(s).fetchall()
print(f"\nCount answer: {len(resoult)}")
pandas.read_sql(s, conn)

SELECT exam_marks_1.exam_id, exam_marks_1.mark, subject_1.subj_id, subject_1.subj_name
FROM exam_marks AS exam_marks_1 JOIN subject AS subject_1 ON exam_marks_1.subj_id = subject_1.subj_id
WHERE exam_marks_1.mark IS NOT NULL

Count answer: 46

    exam_id  mark  subj_id                                 subj_name
0         1     1       10                               Информатика
1         2     4       73                               Физкультура
2         3     4       73                               Физкультура
3         4     1       56                                   История
4         5     3       10                               Информатика
5         6     4       56                                   История
6         7     1       12                             Анализ данных
7         8     1       12                             Анализ данных
8         9     5       22                                    Физика
9        10     1       22                                    Физика
10       11     2       56                                   История
11       12     5       56                                   История
12       13     2       12                             Анализ данных
13       14     1       13                                       ОБЖ
14       15     4       94                           Английский язык
15       16     5       10                               Информатика
16       17     5       94                           Английский язык
17       18     2       94                           Английский язык
18       19     3       73                               Физкультура
19       20     3       43                                Математика
20       21     2       56                                   История
21       22     3       10                               Информатика
22       23     4       22                                    Физика
23       24     2       13                                       ОБЖ
24       25     1       12                             Анализ данных
25       26     1       22                                    Физика
26       27     5       13                                       ОБЖ
27       28     5       12                             Анализ данных
28       29     1       43                                Математика
29       30     5       56                                   История
30       31     1       11   Программирование на языках Python и SQL
31       32     1       73                               Физкультура
32       33     2       22                                    Физика
33       34     4       10                               Информатика
34       43     4       22                                    Физика
35       75     5       10                               Информатика
36       95     2       13                                       ОБЖ
37      100     2       10                               Информатика
38      101     4       11   Программирование на языках Python и SQL
39      102     5       11   Программирование на языках Python и SQL
40      103     4       94                           Английский язык
41      104     3       73                               Физкультура
42      105     4       14  Обработка данных и моделирование в Excel
43      106     3       56                                   История
44      145     2       10                               Информатика
45      238     5       10                               Информатика

SELECT exam_marks_1.exam_id, exam_marks_1.mark, subject_1.subj_id, subject_1.subj_name
FROM exam_marks AS exam_marks_1 LEFT OUTER JOIN subject AS subject_1 ON exam_marks_1.subj_id = subject_1.subj_id
WHERE exam_marks_1.mark IS NOT NULL AND NOT (EXISTS (SELECT exam_marks_2.exam_id
FROM exam_marks AS exam_marks_2 JOIN subject AS subject_2 ON exam_marks_2.subj_id = subject_2.subj_id
WHERE exam_marks_2.exam_id = exam_marks_1.exam_id))

Count answer: 0

Empty DataFrame
Columns: [exam_id, mark, subj_id, subj_name]
Index: []