<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:160%;text-align:center">Семинар 7.1. Оконные функции</p> 

<a id = Home></a>

**12 мая 2022 года, чт**<br>
5-я пара, 15:40 - 17:10<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)<br>

**19 мая 2022 года, чт**<br>
7-я пара, 18:55 - 20:25<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)<br>

**23 мая 2022 года, пн**<br>
2-я пара, 10:10 - 11:40<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)<br>

4-я пара, 14:00 - 15:30<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
Поток:ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (3 подгруппа)

<p style="font-size:150%;text-align:center">Литература</p>

- Астахова И.Ф., Мельников В.М., Толстобров А.П., Фертиков В.В. СУБД: язык SQL в примерах и задачах.—М.:ФИЗМАТЛИТ, 2009. — 168 с. — ISBN 978-5-9221-0816-4.
- Essential SQLAlchemy: Mapping Python to Databases 2nd Edition. Jason Myers, Rick Copeland. O'Reilly Media, Inc. 2015.
- Официальный сайт СУБД SQLite https://sqlite.org
- Официальный сайт библиотеки SQLAlchemy https://www.sqlalchemy.org/
- Официальный сайт СУБД PostgreSQL https://www.postgresql.org/

<table align=left>
    <tr><th colspan=2 style="text-align:left;font-size:1.17em">student</th>
    <tr><td style="text-align:left;font-size:1.17em">student_id</td>
        <td style="text-align:left;font-size:1.17em">идентификатор студента</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">surname</td>
        <td style="text-align:left;font-size:1.17em">фамилия студента</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">name</td>
        <td style="text-align:left;font-size:1.17em">имя студента</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">stipend</td>
        <td style="text-align:left;font-size:1.17em">стипендия, которую получает студент </td></tr>
    <tr><td style="text-align:left;font-size:1.17em">kurs</td>
        <td style="text-align:left;font-size:1.17em">курс, на котором учится студент </td></tr>
    <tr><td style="text-align:left;font-size:1.17em">city</td>
        <td style="text-align:left;font-size:1.17em">город, в котором живёт студент </td></tr>
    <tr><td style="text-align:left;font-size:1.17em">birthday</td>
        <td style="text-align:left;font-size:1.17em">дата рождения студента</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">univ_id</td>
        <td style="text-align:left;font-size:1.17em">идентификатор университета, в котором учится студент</td></tr>
</table>

<table align=left>
    <tr><th colspan=2 style="text-align:left;font-size:1.17em">lecturer</th>
    <tr><td style="text-align:left;font-size:1.17em">lecturer_id</td>
        <td style="text-align:left;font-size:1.17em">идентификатор преподавателя</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">surname</td>
        <td style="text-align:left;font-size:1.17em">фамилия преподавателя</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">name</td>
        <td style="text-align:left;font-size:1.17em">имя преподавателя</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">city</td>
        <td style="text-align:left;font-size:1.17em">город, в котором живет преподаватель</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">univ_id</td>
        <td style="text-align:left;font-size:1.17em">идентификатор университета, в котором работает преподаватель</td></tr>
</table>

<table align=left>
    <tr><th colspan=2 style="text-align:left;font-size:1.17em">subject</th>
    <tr><td style="text-align:left;font-size:1.17em">subj_id</td>
        <td style="text-align:left;font-size:1.17em">идентификатор предмета обучения</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">subj_name</td>
        <td style="text-align:left;font-size:1.17em">наименование предмета обучения</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">hour</td>
        <td style="text-align:left;font-size:1.17em">количество часов, отводимых на изучение предмета</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">semester</td>
        <td style="text-align:left;font-size:1.17em">семестр, в котором изучается данный предмет</td></tr>
</table>

<table align=left>
    <tr><th colspan=2 style="text-align:left;font-size:1.17em">university</th>
    <tr><td style="text-align:left;font-size:1.17em">univ_id</td>
        <td style="text-align:left;font-size:1.17em">идентификатор университета</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">univ_name</td>
        <td style="text-align:left;font-size:1.17em">название университета</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">rating</td>
        <td style="text-align:left;font-size:1.17em">рейтинг университета</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">city</td>
        <td style="text-align:left;font-size:1.17em">город, в котором расположен университет</td></tr>
</table>

<table align=left>
    <tr><th colspan=2 style="text-align:left;font-size:1.17em">exam_marks</th>
    <tr><td style="text-align:left;font-size:1.17em">exam_id</td>
        <td style="text-align:left;font-size:1.17em">идентификатор экзамена</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">student_id</td>
        <td style="text-align:left;font-size:1.17em">идентификатор студента</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">subj_id</td>
        <td style="text-align:left;font-size:1.17em">идентификатор предмета обучения</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">mark</td>
        <td style="text-align:left;font-size:1.17em">экзаменационная оценка</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">exam_date</td>
        <td style="text-align:left;font-size:1.17em">дата экзамена</td></tr>
</table>

<table align=left>
    <tr><th colspan=2 style="text-align:left;font-size:1.17em">subj_lect</th>
    <tr><td style="text-align:left;font-size:1.17em">lecturer_id</td>
        <td style="text-align:left;font-size:1.17em">идентификатор преподавателя</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">subj_id</td>
        <td style="text-align:left;font-size:1.17em">идентификатор предмета</td></tr>
</table>

<img src="../Img/Students_ERD.png" style="width:90%">

<p style="font-size:150%;text-align:center">Оконные функции</p>

Оконная функция для каждой строки некоторого множества строк вычисляет значение, каким-либо образом связанное со всеми строками данного множества. Оконные функции похожи на агрегатные функции с той разницей, что, в отличие от традиционных агрегатных функций, результат группировки не приводит к сворачиванию множества строк до одной строки.

Различают следующие типы оконных функций:
- оконные функции упорядочивания;
- агрегатные оконные функции;
- оконные функции смещения.

Синтаксис оконной функции:
```
НАЗВАНИЕ_ФУНКЦИИ ([АТРИБУТ])
OVER (
    [PARTITION BY УСЛОВИЕ_ГРУППИРОВКИ] 
    [ORDER BY УСЛОВИЕ_СОРТИРОВКИ]
    [ROWS или RANGE ЗАДАНИЕ_ГРАНИЦ_В_ПРЕДЕЛАХ_ГРУППЫ] 
    )
```

Ознакомимся с работой оконных функций каждого типа.

<p style="font-size:150%;text-align:center">1. Оконные функции упорядочивания</p>

К оконным функциям упорядочивания относятся ROW_NUMBER(), RANK(), DENSE_RANK(), NTILE().

Оконная функция ROW_NUMBER() возвращает порядковый номер строки. Эта функция не требует указания параметра в скобках.

<u>Пример 1.1.</u> Присвоить порядковый номер каждому предмету, упорядочив предметы по названию.
```
SELECT ROW_NUMBER () OVER (ORDER BY subj_name) AS subj_no,
subject.*
FROM subject;
```

В данном примере упорядочивание по названию обеспечено предложением ORDER BY. Предложение PARTITON BY позволяет применять оконную функцию к отдельным подгруппам строк. В следующем примере все предметы разбиваются на подгруппы по семестрам и нумерация предметов для каждой подгруппы начинается заново.

<u>Пример 1.2.</u> Присвоить порядковый номер каждому предмету в рамках семестра.
```
SELECT ROW_NUMBER () OVER (PARTITION BY semester ORDER BY subj_name) AS subj_no_sem,
subject.*
FROM subject;
```

Функция RANK() вычисляет ранг строки в зависимости от значения атрибута в предложении ORDER BY. Рассчитаем ранг каждого предмета в зависимости от количества учебных часов по всей таблице предметов, не разбивая строки таблицы на какие-либо подгруппы.

<u>Пример 1.3.</u> Ранжировать предметы в зависимости от количества учебных часов.
```
SELECT RANK () OVER (ORDER BY hour) AS subj_rank,
subject.*
FROM subject;
```
В результате выполнения запроса предметам с одинаковым количеством часов присвоено равное значение ранга. Если несколько предметов имеют одинаковый ранг, то при переходе к предмету с большим количеством часов назначается не следующее по порядку натуральное значение ранга, а увеличенное с учетом числа предшествующих предметов с одинаковым рангом. Этой особенностью функция RANK() отличается от функции DENSE_RANK(), которая не пропускает значений и всегда увеличивает ранг на единицу при увеличении значения параметра сортировки в предложении ORDER BY.

<u>Пример 1.4.</u> Ранжирование с помощью DENSE_RANK().
```
SELECT DENSE_RANK () OVER (ORDER BY hour) AS subj_dense_rank,
subject.*
FROM subject;
```

Функция NTILE() разбивает строки на подгруппы и каждой подгруппе присваивает номер. Разобъем все предметы по количеству часов на три подгруппы. Для этого используем данную функцию с параметром 3: NTILE(3). Функция стремится разбить все строки на подгруппы так, чтобы в каждую подгруппу попало равное число строк. Если это невозможно (число строк не делится без остатка на число подгрупп), то подгруппы с меньшим номером получат больше строк.

<u>Пример 1.5.</u> Разбить все предметы на три подгруппы по количеству часов.
```
SELECT NTILE (3) OVER (ORDER BY su.hour, su.subj_name) AS hour_tile,
su.subj_name, su.hour
FROM subject su;
```

<p style="font-size:150%;text-align:center">2. Агрегатные оконные функции</p>

Такие функции, как MIN(), MAX(), COUNT(), AVG(), SUM() относятся к агрегатным оконным функциям. Перечень агрегатных оконных функций зависит от конкретной реализации СУБД. Покажем с помощью агрегатной оконной функции SUM() суммарное количество часов, отводимое на изучение предметов каждого семестра.

<u>Пример 2.1.</u> Показать суммарное количество учебных часов в каждом семестре.
```
SELECT su.subj_name, su.semester, su.hour,
SUM (su.hour) OVER (PARTITION BY su.semester) AS sum_hour_sem
FROM subject su;
```
В результате выполнения этого запроса мы получили в каждой строке суммарное число учебных часов всех предметов соответствующего семестра. Если же с помощью предложения ORDER BY добавть упорядочение по какому-либо параметру, то вместо столбца с суммарным количеством учебных часов в семестре мы получим столбец накопительного итога учебных часов. Для упорядочения выберем столбец названия предмета.

<u>Пример 2.2.</u> Показать число учебных часов с накопительным итогом в каждом семестре в порядке по названию предмета.
```
SELECT su.subj_name, su.semester, su.hour,
SUM (su.hour) OVER (PARTITION BY su.semester ORDER BY su.subj_name) AS run_total_hour_sem
FROM subject su;
```

Так как оконные функции в процессе разбиения строк на подмножества не "схлопывают" группу строк до одной строки, их удобно использовать для анализа данных. Рассчитаем долю в процентах количества учебных часов каждого предмета семестра от общего количества учебных часов семестра.

<u>Пример 2.3.</u> Вычислить долю в процентах количества учебных часов предметов семестра от общего количества учебных часов семестра.
```
SELECT A.*, ROUND(CAST(A.hour AS REAL)/A.sum_hour_sem * 100, 2) AS perc_hour_sem
FROM (
SELECT su.subj_name, su.semester, su.hour,
SUM (su.hour) OVER (PARTITION BY su.semester) AS sum_hour_sem
FROM subject su) AS A
ORDER BY A.semester, A.subj_name;
```

В этом запросе мы использовали функцию CAST(), преобразующую целочисленное значение к значению вещественного типа и функцию ROUND() для округления результата до двух десятичных знаков. Особенности использования этих и многих других функций языка SQL зависят от конкретной СУБД. Так, например, в СУБД *postgresql* потребуется написать `CAST(A.hour AS NUMERIC)`.

<p style="font-size:150%;text-align:center">3. Оконные функции смещения</p>

К оконным функциям смещения относятся такие оконные функции, как LAG(), LEAD(), FIRST_VALUE(), LAST_VALUE(), NTH_VALUE(). Эти функции возвращают смещенное значение атрибута с определённым лагом вперед или назад. Это свойство может использоваться для сравнения текущего значения строки с предыдущим, последующим, первым, последним или каким-либо конкретным значением строки подгруппы.

<table>
    <tr><th style="text-align:left;font-size:1.17em">Функция</th>
        <th style="text-align:left;font-size:1.17em">Описание</th></tr>
    <tr><td style="text-align:left;font-size:1.17em">lag(value, offset)</td>
        <td style="text-align:left;font-size:1.17em">значение value из строки, отстоящей на offset строк назад от текущей</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">lead(value, offset)</td>
        <td style="text-align:left;font-size:1.17em">значение value из строки, отстоящей на offset строк вперед от текущей</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">first_value(value)</td>
        <td style="text-align:left;font-size:1.17em">значение value из первой строки</td></tr>
    <tr><td style="text-align:left;font-size:1.17em">last_value(value)</td>
        <td style="text-align:left;font-size:1.17em">значение value из последней строки </td></tr>
    <tr><td style="text-align:left;font-size:1.17em">nth_value(value, n)</td>
        <td style="text-align:left;font-size:1.17em">значение value из n-й строки </td></tr>
</table>

Покажем работу функции LAG() на примере. Для каждого семестра, начиная со второго, найдём, на сколько изменилось количество учебных часов по сравнению с предыдущим семестром. Для этого выполним запрос с группировкой по семестрам и суммированию числа часов, а затем применим к результату этого запроса оконную функцию LAG(), с помощью которой добавим копию столбца с суммой часов со смещением на одну позицию. Затем вычтем смещенное значение числа часов из исходного значения в каждой строке.

<u>Пример 3.1.</u>
```
SELECT B.*, (B.sum_hour - B.lag_sum_hour) AS diff
FROM (
SELECT A.*, LAG (A.sum_hour) OVER () AS lag_sum_hour
FROM (
SELECT su.semester, SUM(su.hour) AS sum_hour
FROM subject su
GROUP BY su.semester) AS A
) AS B
WHERE B.lag_sum_hour IS NOT NULL;
```

По умолчанию функции LAG() и LEAD() сдвигают данные на одну позицию.

<p style="font-size:150%;text-align:center">4. Задание границ действия оконной функции</p>

Границы применения оконной функции внутри подгруппы PARTITION уточняются с помощью предложений ROWS и RANGE. Для этого используются ключевые слова PRECEDING и FOLLOWING и указывается смещение относительно текущей записи, например:

`ROWS BETWEEN 3 PRECEDING AND 2 FOLLOWING`

Необходимость указывать границы связана с тем, что многие оконные функции по умолчанию распространяют свое действие не на все строки подгруппы от первой до последней, а на интервал (действуют в рамках) строк от первой до текущей. Чтобы в явном виде распространить действие оконной функции на всю подгруппу строк, используется ключевое слово UNBOUNDED, например:

`ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING`

Также, в некоторых случаях, может применяться указание на текущую строку с помощью ключевой фразы CURRENT ROW, например:

`ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING`

<u>Пример 4.1.</u> Рассчитать скользящее среднее числа сданных экзаменов в зависимости от месяца экзамена на основе текущего и двух предыдущих значений.
```
SELECT A.*,
ROUND(AVG(A.em_count) 
OVER (ORDER BY A.month 
ROWS BETWEEN 2 preceding AND current row), 2) AS running_avg
FROM (
SELECT substr(em.exam_date, 6, 2) AS month, count(em.exam_id) AS em_count
FROM exam_marks em
GROUP BY month) A;
```

<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;text-align:center">Выполните задания</p>
<p>Выполните задания с помощью Jupyter Notebook. </p>

1. Студентам 1 курса присвойте порядковые номера по дате рождения.
2. Для каждого университета ранжируйте курсы по числу студентов на курсе. Результат должен содержать название университета, номер курса, число студентов на курсе, ранг курса. Меньшее число ранга присвойте курсу с большим числом студентов.
3. В университетах ВГУ и НГУ ранжируйте (без пропуска значений ранга) студентов по убыванию стипендии в рамках своего университета.
4. Всех студентов, сдававших экзамены, ранжируйте (без пропуска значений ранга) по убыванию средней оценки. Результат должен содержать номер ранга, фамилию, имя студента, среднюю оценку.
5. Для каждого университета узнайте, сколько % студентов на каждом курсе университета от общего числа студентов университета. В результате покажите название университета, номер курса, количество студентов на курсе, долю студентов университета на курсе в %.
6. Для каждого университета покажите долю в % числа студентов каждого курса от максимального числа студентов на курсе университета.
7. Для каждого курса соответствующего университета рассчитайте относительный прирост средней экзаменационной оценки, упорядочив по номеру курса. Результат должен содержать: название университета, номер курса, среднюю оценку на курсе данного университета, значение относительного цепного прироста средней оценки.

<p style="font-size:150%">Решение заданий семинара</p>

In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine('sqlite+pysqlite:///../Data/Students.db')

In [ ]:
"""1. Студентам 1 курса присвойте порядковые номера по дате рождения."""

<img src=../Img/pencil-2841771.png style="width:39%">
<p style="background-color:pink; font-size:125%; color: black;text-align:center">Домашнее задание</p>
<p>Выполните домашнее задание с помощью Jupyter Notebook.</p>

1. Студентам, обучающимся в ВГУ, присвойте порядковый номер, упорядочив по фамилии и имени.

2. Предметы, по которым сдавались экзамены, ранжируйте по среднему баллу, полученному на экзаменах. Результат должен содержать название предмета, средний балл, номер ранга без пропусков. Предметам с большим значением среднего балла присвойте меньшее значение ранга. Значение среднего балла округлите до двух десятичных знаков.

3. Ранжируйте преподавателей (без пропуска значений ранга) по количеству преподаваемых ими предметов.

4. Ранжируйте семестры по количеству учебных часов.

5. Рассчитайте относительный прирост суммарного количества учебных часов предметов семестра по мере увеличения номера семестра.

6. Для каждого студента, обучающегося в своём городе, рассчитайте разницу в возрасте в днях с самым старшим из всех студентов, обучающихся в своём городе. Результат упорядочить по разности в возрасте.

<p style="font-size:150%">Решение домашнего задания</p>

In [4]:
# Ваш код здесь